<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <link rel="stylesheet" href="css/tab.css"/>
    <link rel="stylesheet" href="css/laydate.css"/>
</head>
<body>
<div class="jz_head">
    <div class="jz_top">
        <div class="jz_top-inner">
            <ul>
                <li class="jz_service">客服热线：<span style="color: #dab866;">02552123090</span></li>
                <li class="jz_in"><a href="">我要吐槽</a></li>
                <i></i>
                <li><img src="image/weibo.png" alt=""/><img src="image/weixin.png" alt=""/></li>
            </ul>
        </div>
    </div>
    <div class="jz_nav">
        <div class="jz_nav_inner">
            <ul>
                <li class="jz_nav_innerlogo" style="width: 780px;"><img src="image/logo11.jpg" alt=""
                                                                        style="width: 185px;position: relative;top:8px;"/>
                </li>
                <li class="jz_link "><a href="">首页</a></li>
                <li class="jz_link"><a href="">找兼职</a></li>
                <li class="jz_link"><a>发布兼职</a></li>
                <li><img src="image/user_logo.png" alt=""
                         style="width: 20px;position: relative;top: 3px;left: -8px;"/><a href="">北京中互联...</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="findjob-contain">
    <div class="findjob-contain_inner">
        <div class="contain_inner_top">
            <ul>
                <li>
                    <span style="color: #c5c5c5;">Personal center</span>
                    <span style="font-size: 30px;">个人中心</span>
                </li>
                <li>个人中心<span class="jianTou"></span>我的兼职<span class="jianTou"></span>已报名</li>
            </ul>
        </div>
        <div class="contain_inner_center">
            <ul class="jz-left">
                <li class="one">
                    <p>
                        <img src="image/jishiben2.png" alt=""/>
                        我的兼职
                        <span class="jianTou3 "></span>
                    </p>
                </li>
                <li class="three">
                    <p>
                        <img src="image/zhanghu.png" alt=""/>
                        <a href="">我的信息</a>
                    </p>
                </li>
                <li class="three">
                    <p>
                        <img src="image/price.png" alt=""/>
                        <a href="">个人账户</a>
                    </p>
                </li>
                <li class="three">
                    <p>
                        <img src="image/bangding1.png" alt=""/>
                        <a href="">账号绑定</a>
                    </p>
                </li>
                <li class="three">
                    <p>
                        <img src="image/anquan.png" alt=""/>
                        <a href="">安全中心</a>
                    </p>
                </li>
            </ul>
            <ul class="jz-center">
                <li class="contain_banner">
                    <span class="onc_jz active_jz" id="a1"><b>已报名</b></span>
                    <span class="onc_jz" id="a2"><b>已录取</b></span>
                    <span class="onc_jz" id="a3"><b>进行中</b></span>
                    <span class="onc_jz" id="a4"><b>已完工</b></span>
                </li>
                <div class="con_ban_inr content content1">
                    <ul >
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="con_ban_inr content content2">
                    <ul >
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="con_ban_inr content content3">
                    <ul >
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="con_ban_inr content content4">
                    <ul >
                        <li>
                            <p class="jz-left">
                                <span><img src="image/app_downloadCom.png" alt=""/></span>
                            </p>

                            <p class="jz-center">
                                <span style="color: #000;font-size: 20px;">【审核录入】200元/天招聘兼职会电脑录入数据整理员人满为止</span>
                        <span>
                            <img src="image/data.png" alt=""/>
                            工作时间：03.08-03.31&nbsp;09:00-18:00
                        </span>
                        <span>
                            <img src="image/person.png" alt=""/>
                            招聘人数：<a style="color: #dab866;">82</a>/1200
                        </span>
                        <span>
                            <img src="image/position.png" alt=""/>
                            工作地点：朝阳区
                        </span>
                        <span>
                            <img src="image/jiesuan.png" alt=""/>
                            结算方式：当天结算
                            <a href="" style="color: #41a1fe;margin-left: 20px"><img src="image/zoxin.png" alt=""/>咨询商家</a>
                        </span>
                            </p>
                            <p class="jz-right">
                                <span style="font-size: 28px;margin-left: 15px;">200.00元/<a style="color: #dab866;font-size: 18px;">天</a></span>
                                <span class="jz-check fabu_jz1"><a  style="color: #fff;">等待录用</a></span>
                                <span class="jz-check fabu_jz2"><a  style="color: #fff;">取消报名</a></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </ul>
            <div class="jz-pages">
                <ul class="pagesinner" style="margin: 20px auto 20px">
                    <li class="nav"><button>上一页</button></li>
                    <li><button>1</button></li>
                    <li><button>2</button></li>
                    <li><button>3</button></li>
                    <li><button>...</button></li>
                    <li><button>7</button></li>
                    <li class="nav"><button>下一页</button></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

底部
<div class="jz-footer">
    <div class="jz-footer-inner">
        <div class="jz-footer_1">
            <div class="jz-footer-left">
                <dl class="one" style="margin-left: 150px;width: 340px;">
                    <dt>关于中互联</dt>
                    <dd><a href="">商务合作</a></dd>
                    <dd><a href="">加入我们</a></dd>
                    <dd><a href="">兼职新手指引</a></dd>
                    <dd><a href="">安全条款</a></dd>
                    <dd><a href="">服务协议</a></dd>
                    <dd><a href="">隐私保护</a></dd>
                </dl>
                <dl class="three" style="width: 400px;">
                    <dt>客服服务</dt>
                    <dd>客服：02552123090</dd>
                    <dd>微信：106568088</dd>
                    <dd>电话：602552123090</dd>
                    <dd>投诉电话：18761609644</dd>
                </dl>
                <dl class="four">
                    <dt>服务号</dt>
                    <div>
                        <dd><img src="image/app_downloadCom.png" alt=""/></dd>
                    </div>
                </dl>
            </div>
        </div>
        <p class="clear">Copyright © 北京中互联科技有限公司| 京ICP备 号</p>
    </div>
</div>

弹出框
<div class="shadow hide1"></div>

底部弹出框
<div class="hide1 jz-tanchu jz-tanchu2 jz-tanchu4">
    <ul>
        <li class="one">
            <img src="image/guanbi.png" alt="" class="guanbi"/>
        </li>
        <li class="six">
            <img src="image/tishi.png" alt=""/>兼职页面已开始无法取消，请刷新页面后查看！
        </li>
        <li class="seven">
            <span><a href="" style="color: #fff;">确定</a></span>
        </li>
    </ul>
</div>

<script src="js/jquery-1.11.3.js"></script>
<script src="js/laydate.js"></script>
<script src="js/jquery.datetimepicker.full.min.js"></script>
<script src="js/tab.js"></script>
</body>
</html> -->