<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhl.job.dao.IBanknameListDao">

	<resultMap id="BanknameListMapper" type="com.zhl.job.pojo.BanknameList" >
		<id column="BANKID" property="bankid" jdbcType="VARCHAR" />
	    <result column="BANKNAME" property="bankname" jdbcType="VARCHAR" />
	    <result column="BANKCODE" property="bankcode" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
	    BANKID, BANKNAME, BANKCODE
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BanknameListMapper" parameterType="java.lang.String" >
	    select 
	    <include refid="Base_Column_List" />
	    from BANKNAME_LIST
	    where BANKID = #{bankid,jdbcType=VARCHAR}
  	</select>
	
	<insert id="insertSelective" parameterType="com.zhl.job.pojo.BanknameList" >
	    insert into BANKNAME_LIST
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="bankid != null" >
	        BANKID,
	      </if>
	      <if test="bankname != null" >
	        BANKNAME,
	      </if>
	      <if test="bankcode != null" >
	        BANKCODE,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="bankid != null" >
	        #{bankid,jdbcType=VARCHAR},
	      </if>
	      <if test="bankname != null" >
	        #{bankname,jdbcType=VARCHAR},
	      </if>
	      <if test="bankcode != null" >
	        #{bankcode,jdbcType=VARCHAR},
	      </if>
	    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.zhl.job.pojo.BanknameList" >
    update BANKNAME_LIST
    <set >
      <if test="bankname != null" >
        BANKNAME = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankcode != null" >
        BANKCODE = #{bankcode,jdbcType=VARCHAR},
      </if>
    </set>
    where BANKID = #{bankid,jdbcType=VARCHAR}
  </update>
</mapper>